  body{
    text-align: center;
    background-color: rgb(71, 72, 62);
  }
    .bg img{
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%; 
    opacity: 0.5; 
    image-resolution: 300dpi; 
    z-index: -1; 
  } 
  .game-title{
    color: rgb(210, 232, 208);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50PX;
    margin: 40px;
    text-align: center;
}
 .scene1 {
  width: 100px;
  height: 100px;
  perspective: 600px;
  margin: 10% 25%;  
}

.cube1 {
  position: relative;
  transform-style: preserve-3d;
  background-color: rgb(210, 232, 208); 
  border-radius: 10%;
  border: 10px black;
}

.cube__face {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgb(210, 232, 208); 
  transform-style: preserve-3d;
  border-radius: 10%;
  border: 1px black;
}
.cube__face--front  { 
  transform: rotateY(  20deg) translateZ(50px);
  background-color: rgb(255, 255, 255);
 }
.cube__face--right  { 
  transform: rotateY( 110deg) translateZ(50px);
  background-color: rgb(255, 255, 255);
}
.cube__face--back   { 
  transform: rotateY(200deg) translateZ(50px); 
  background-color:rgb(255, 255, 255);
}
.cube__face--left   { 
  transform: rotateY(-70deg) translateZ(50px);
  background-color:rgb(255, 255, 255);
}
.cube__face--top    {
   transform: rotateX( 90deg) rotateZ(-20deg) translateZ(50px); 
   background-color:rgb(255, 255, 255);
  }
.cube__face--bottom {
   transform: rotateX(-90deg) rotateZ(20deg) translateZ(50px); 
   background-color:rgb(255, 255, 255);
  }
.cube1 { transform: translateZ(-100px); }

.scene2 {
  width: 100px;
  height: 100px;
  perspective: 600px;
  margin: -35% 60%;  
}

.cube2 {
  position: relative;
  transform-style: preserve-3d;
  background-color: rgb(210, 232, 208); 
  border-radius: 10%;
  border: 1px black;
  margin: 200px -50px;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.one{
  position: relative;
  margin: 35px 20px;
  transform: rotateY(  20deg) translateZ(50px);
} 
/* .scene {
  display: flex;
  background-color: blue;
  border: none;
  flex-direction: row;
  opacity: 0.7;
  height: 200px;
}
.scene>.cube1{
  transform-style: preserve-3d;
  background-color: rgb(210, 232, 208); 
  margin: 50px;
  border: 1px black;
  align-self: center;
}
/* .cube2 {
  transform-style: preserve-3d;
  background-color: rgb(210, 232, 208); 
  border: 1px black;
  margin: 50px; 
}*/
.scene>.cube1>.cube__face { 
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: rgb(160, 44, 114); 
  transform-style: preserve-3d;
  border-radius: 5%;
  transform-style: preserve-3d;
}
.scene>.cube1>.cube__face>.cube__face--front  { 
  transform: rotateY(  20deg) translateZ(50px);
  background-color: rgb(179, 194, 21);
  align-items: center;
 }
 .scene>.cube1>.cube__face>.cube__face--right  { 
  transform: rotateY( 110deg) translateZ(50px);
  background-color: rgb(23, 239, 26);
}
.scene>.cube1>.cube__face>.cube__face--back   { 
  transform: rotateY(200deg) translateZ(50px); 
  background-color:rgb(41, 73, 119);
}
.scene>.cube1>.cube__face>.cube__face--left   { 
  transform: rotateY(-70deg) translateZ(50px);
  background-color:rgba(68, 155, 94, 0.61);
}
.scene>.cube1>.cube__face>.cube__face--top    {
   transform: rotateX( 90deg) rotateZ(-20deg) translateZ(50px); 
   background-color:rgb(244, 5, 5);
  }
.scene>.cube1>.cube__face>.cube__face--bottom {
   transform: rotateX(-90deg) rotateZ(20deg) translateZ(50px); 
   background-color:rgb(112, 46, 46);
  }
.scene>.cube1 { transform: translateZ(-100px); }
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}
.one{
  position: relative;
  margin: 35px 20px;
  transform: rotateY(  20deg) translateZ(50px);
}

.six{
  position: relative;
  margin: ;
} */


/* .sum
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: azure;
  text-align: center;
  margin: 30px;
  position: fixed;
  top: 1000;
}
.roll-button{
  position: fixed;
  cursor: pointer;
  border-color: white;
  align-items: center;

} */
/* .cube2{ transform: translateZ(-100px); } */
/* .cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }
.cube { transition: transform 1s; } */