  body{
    text-align: center;
    background-color: rgb(71, 72, 62);
  }
    .bg img{
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%; 
    opacity: 0.5; 
    image-resolution: 300dpi; 
    z-index: -1; 
  } 
  .game-title{
    color: rgb(210, 232, 208);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50PX;
    margin: 40px;
    text-align: center;
}
.scene1 {
  width: 100px;
  height: 100px;
  perspective: 600px;
  margin: 10% 25%;  
}

.cube1 {
  position: relative;
  transform-style: preserve-3d;
  background-color: rgb(210, 232, 208); 
  border-radius: 10%;
  border: 1px black;
}

.cube__face {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgb(210, 232, 208); 
  transform-style: preserve-3d;
  border-radius: 10%;
  border: 1px black;
}
.cube__face--front  { 
  transform: rotateY(  20deg) translateZ(50px);
  background-color: rgb(255, 255, 255);
 }
.cube__face--right  { 
  transform: rotateY( 110deg) translateZ(50px);
  background-color: rgb(255, 255, 255);
}
.cube__face--back   { 
  transform: rotateY(200deg) translateZ(50px); 
  background-color:rgb(255, 255, 255);
}
.cube__face--left   { 
  transform: rotateY(-70deg) translateZ(50px);
  background-color:rgb(255, 255, 255);
}
.cube__face--top    {
   transform: rotateX( 90deg) rotateZ(-20deg) translateZ(50px); 
   background-color:rgb(255, 255, 255);
  }
.cube__face--bottom {
   transform: rotateX(-90deg) rotateZ(20deg) translateZ(50px); 
   background-color:rgb(255, 255, 255);
  }
.cube1 { transform: translateZ(-100px); }

.scene2 {
  width: 100px;
  height: 100px;
  perspective: 600px;
  margin: -35% 60%;  
}

.cube2 {
  position: absolute;
  transform-style: preserve-3d;
  background-color: rgb(210, 232, 208); 
  border-radius: 10%;
  border: 1px black;
  margin: 200px -50px;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.one{
  position: relative;
  margin: 35px 20px;
  transform: rotateY(  20deg) translateZ(50px);
}
.sum
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: azure;
  text-align: center;
  margin: 30px;
}
.roll-button{
  position: absolute;
  cursor: pointer;
  border-color: white;
  align-items: center;
}
/* .cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }
.cube { transition: transform 1s; } */